body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: lemonchiffon;
    font-family: "Nunito", sans-serif;
}

#titolo {
    color: gray;
    text-shadow: 4px 4px gainsboro;
}

span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lavender;
    width: 15rem;
    height: 4rem;
    border-radius: 15px;
    margin: 5px 0;
    padding: 10px;
}

#backrisultato {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: lightcoral;
    border-radius: 15px;
    margin: 10px 0;
}

#prisultato {
    width: 50rem;
    height: 50rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.risultato {
    width: calc(100% / 8 - 4px);
    height: calc(100% / 8 - 2px);
    border: 2px solid white;
    cursor: pointer;
}

.sfondoclick {
    background-color: yellow;
}